<a href="https://colab.research.google.com/github/kevmanning/DS-Unit-2-Kaggle-Challenge/blob/master/DS_module_project_221_Kevin_Manning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 2, Module 1*

---

In [ ]:
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*

DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge/master/data/'

# Decision Trees

## Kaggle

**Task 1:** [Sign up for a Kaggle account](https://www.kaggle.com/), if you donâ€™t already have one. Go to our Kaggle InClass competition website (the URL is in Slack). Go to the Rules page. Accept the rules of the competition. Notice that the Rules page also has instructions for the Submission process. The Data page has feature definitions.

## Wrangle Data

**Task 2:** Add to the code below so that `id` is set as the index for `df`.

In [103]:
import pandas as pd

df = pd.merge(pd.read_csv(DATA_PATH + 'waterpumps/train_features.csv'),
              pd.read_csv(DATA_PATH + 'waterpumps/train_labels.csv'))
# YOUR CODE HERE
df = df.set_index('id')

df.head()

       amount_tsh date_recorded  ... waterpoint_type_group    status_group
id                               ...
69572      6000.0    2011-03-14  ...    communal standpipe      functional
8776          0.0    2013-03-06  ...    communal standpipe      functional
34310        25.0    2013-02-25  ...    communal standpipe      functional
67743         0.0    2013-01-28  ...    communal standpipe  non functional
19728         0.0    2011-07-13  ...    communal standpipe      functional

[5 rows x 40 columns]

In [104]:
df.shape

(59400, 40)

In [105]:
df.columns

Index(['amount_tsh', 'date_recorded', 'funder', 'gps_height', 'installer',
       'longitude', 'latitude', 'wpt_name', 'num_private', 'basin',
       'subvillage', 'region', 'region_code', 'district_code', 'lga', 'ward',
       'population', 'public_meeting', 'recorded_by', 'scheme_management',
       'scheme_name', 'permit', 'construction_year', 'extraction_type',
       'extraction_type_group', 'extraction_type_class', 'management',
       'management_group', 'payment', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
       'source_class', 'waterpoint_type', 'waterpoint_type_group',
       'status_group'],
      dtype='object')

**Test 2**

In [106]:
'''Task 2 Testing'''

assert isinstance(df, pd.DataFrame), 'Have you created the DataFrame `df`?'
assert df.shape == (59400, 40), '`df` is the wrong shape. Did you set the index to `id`?'
assert 69572 in df.index, 'The index for `df` is has the wrong values. Did you set the index to `id`?'

## Split Data

**Task 3:** Create your target vector `y` and feature matrix `X`.

In [107]:
target = 'status_group'

# YOUR CODE HERE
df_features= df.drop(columns= 'status_group')
X= df_features
y= df[target]
X.shape, y.shape

((59400, 39), (59400,))

**Test 3**

In [108]:
'''Task 3 Testing'''

assert isinstance(X, pd.DataFrame), '`X` is the wrong data type.'
assert isinstance(y, pd.Series), '`y` is the wrong data type.'
assert y.shape == (59400,), '`y` is the wrong shape.'
assert X.shape == (59400,39), '`X` is the wrong shape.'

We already have a test set for this model, the `test.csv` that you'll use to make the predictions you'll upload to Kaggle. However, since our competition only allows for 2 submissions per day, we need a way to estimate our training error so that we can quickly iterate and improve our model. We can achieve this by creating a validation set from the data we have.

**Task 4:** Split `X` and `y` into training and validation sets. Your validation set should be 20% of the data you have. You should have four variables: `X_train`, `X_val`, `y_train`, and `y_val`.

In [109]:
from sklearn.model_selection import train_test_split

# YOUR CODE HERE
train, val= train_test_split(df, train_size= 0.8, test_size= 0.2,
                             stratify= df['status_group'], random_state= 41)
train.shape, val.shape

((47520, 40), (11880, 40))

In [110]:
X_train= train.drop(columns= 'status_group')
X_val= val.drop(columns= 'status_group')
y_train= train['status_group']
y_val= val['status_group']

X_train.shape, X_val.shape, y_train.shape, y_val.shape

((47520, 39), (11880, 39), (47520,), (11880,))

**Test 4**

In [111]:
'''Task 4 Testing'''

assert X_train.shape == (47520, 39), '`X_train` is the wrong shape.'
assert X_val.shape == (11880, 39), '`X_val` is the wrong shape.'
assert y_train.shape == (47520,), '`y_train` is the wrong shape.'
assert y_val.shape == (11880,), '`y_val` is the wrong shape.'

## Establish Baseline

**Task 5:** This is a **classification** problem, so you need to establish the baseline accuracy for your training set. Find the majority class for `y_train` and calculate the percentage of labels in `y_train` belonging to that class. Assign your answer to the variable name `baseline_acc`.

In [112]:
# YOUR CODE HERE
baseline_acc= train['status_group'].value_counts(normalize= True).functional
baseline_acc
#print('Baseline Accuracy:', baseline_acc)

0.5430765993265994

**Task 5**

In [113]:
'''Task 5 Testing'''

assert isinstance(baseline_acc, float), '`baseline_acc` should be a `float`.'
assert 0.0 <= baseline_acc <= 1.0, '`baseline_acc` is a score that should be between 0 and 1.'

## Build Model

**Task 6:** Create a model named `model` and train it with your training data. Your model should be a pipeline with (a) transformers that you think are appropriate to this dataset and (b) a `DecisionTreeClassifier` as your predictor. **Tip:** How can you transform categorical features and missing values in order to train your model?

In [114]:
X_train.head()

       amount_tsh date_recorded  ...     waterpoint_type  waterpoint_type_group
id                               ...
35860         0.0    2011-08-03  ...           hand pump              hand pump
69373        50.0    2011-03-04  ...           hand pump              hand pump
15849         0.0    2011-02-16  ...  communal standpipe     communal standpipe
3085          0.0    2013-02-25  ...           hand pump              hand pump
22155         0.0    2013-12-03  ...  communal standpipe     communal standpipe

[5 rows x 39 columns]

In [115]:
X_train.columns

Index(['amount_tsh', 'date_recorded', 'funder', 'gps_height', 'installer',
       'longitude', 'latitude', 'wpt_name', 'num_private', 'basin',
       'subvillage', 'region', 'region_code', 'district_code', 'lga', 'ward',
       'population', 'public_meeting', 'recorded_by', 'scheme_management',
       'scheme_name', 'permit', 'construction_year', 'extraction_type',
       'extraction_type_group', 'extraction_type_class', 'management',
       'management_group', 'payment', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
       'source_class', 'waterpoint_type', 'waterpoint_type_group'],
      dtype='object')

In [116]:
X_val.columns

Index(['amount_tsh', 'date_recorded', 'funder', 'gps_height', 'installer',
       'longitude', 'latitude', 'wpt_name', 'num_private', 'basin',
       'subvillage', 'region', 'region_code', 'district_code', 'lga', 'ward',
       'population', 'public_meeting', 'recorded_by', 'scheme_management',
       'scheme_name', 'permit', 'construction_year', 'extraction_type',
       'extraction_type_group', 'extraction_type_class', 'management',
       'management_group', 'payment', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
       'source_class', 'waterpoint_type', 'waterpoint_type_group'],
      dtype='object')

In [117]:
# clean the data
import numpy as np

def wrangle(X):
  X= X.copy()
  X['latitude']= X['latitude'].replace(-2e-08, 0)
  cols_with_zeros= ['longitude', 'latitude']
  for col in cols_with_zeros:
    X[col]= X[col].replace(0, np.nan)

  X= X.drop(columns= 'quantity_group')

  return X


X_train= wrangle(X_train)
X_val= wrangle(X_val)

In [118]:
X_train.shape, X_val.shape

((47520, 38), (11880, 38))

In [119]:
# further clean up the data
train_features = X_train.copy()

numeric_features= train_features.select_dtypes(include= 'number').columns.tolist()
cardinality= train_features.select_dtypes(exclude= 'number').nunique()
categorical_features= cardinality[cardinality <= 50].index.tolist()
features= numeric_features + categorical_features
print(features)

# need to make this a function!

['amount_tsh', 'gps_height', 'longitude', 'latitude', 'num_private', 'region_code', 'district_code', 'population', 'construction_year', 'basin', 'region', 'public_meeting', 'recorded_by', 'scheme_management', 'permit', 'extraction_type', 'extraction_type_group', 'extraction_type_class', 'management', 'management_group', 'payment', 'payment_type', 'water_quality', 'quality_group', 'quantity', 'source', 'source_type', 'source_class', 'waterpoint_type', 'waterpoint_type_group']

In [120]:
X_train= X_train[features]
X_val= X_val[features]

In [137]:
X_train.shape, X_val.shape

((47520, 30), (11880, 30))

In [126]:
from category_encoders import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier
import category_encoders as ce

# YOUR CODE HERE
model = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    SimpleImputer(strategy='mean'), 
    DecisionTreeClassifier(min_samples_leaf= 20, random_state=34)
)

model.fit(X_train, y_train)

print('Train Accuracy', model.score(X_train, y_train))
print('Validation Accuracy', model.score(X_val, y_val))

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

Train Accuracy 0.8061868686868687
Validation Accuracy 0.7686868686868686

**Test 6**

In [127]:
'''Task 6 Testing'''

assert len(model) > 1, 'Your model pipeline should have multiple steps.'
assert isinstance(model[-1], DecisionTreeClassifier), 'Your pipline should end in a `DecisionTreeClassifier`.'
assert hasattr(model, 'classes_'), 'Have you fit your model?'

## Check Metrics

**Task 7:** Calculate the training and validation accuracy of your model, and assign them to the valiables `training_acc` and `validation_acc`, respectively. Your validation accuracy should be greater than your baseline accuracy.

In [128]:
# YOUR CODE HERE
training_acc= model.score(X_train, y_train)
validation_acc= model.score(X_val, y_val)

print('Training Accuracy:', training_acc)
print('Validation Accuracy:', validation_acc)

Training Accuracy: 0.8061868686868687
Validation Accuracy: 0.7686868686868686

**Test 7**

In [129]:
'''Task 7 Testing'''

assert isinstance(training_acc, float)
assert isinstance(validation_acc, float)
assert 0.0 <= training_acc <= 1.0
assert 0.0 <= validation_acc <= 1.0

## Create Kaggle Submission

**Task 8:** Load `'waterpumps/test.csv'` into a DataFrame named `X_test`. Generate a list of predictions, and then put them into a DataFrame `submission`. Be sure that `submission` has the same index as `X_test` and that the column name for your predictions is `'status_group'`.

In [151]:
X_test = pd.read_csv(DATA_PATH + 'waterpumps/test_features.csv', index_col='id')
# YOUR CODE HERE
X_test= wrangle(X_test)
test_features = X_test.copy()

numeric_features= test_features.select_dtypes(include= 'number').columns.tolist()
cardinality= test_features.select_dtypes(exclude= 'number').nunique()
categorical_features= cardinality[cardinality <= 50].index.tolist()
features2= numeric_features + categorical_features
print(features2)

['amount_tsh', 'gps_height', 'longitude', 'latitude', 'num_private', 'region_code', 'district_code', 'population', 'construction_year', 'basin', 'region', 'public_meeting', 'recorded_by', 'scheme_management', 'permit', 'extraction_type', 'extraction_type_group', 'extraction_type_class', 'management', 'management_group', 'payment', 'payment_type', 'water_quality', 'quality_group', 'quantity', 'source', 'source_type', 'source_class', 'waterpoint_type', 'waterpoint_type_group']

In [156]:
X_test= X_test[features2]
X_test.shape

(14358, 30)

In [159]:
X_train.shape

(47520, 30)

In [162]:
model = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    SimpleImputer(strategy='mean'), 
    DecisionTreeClassifier(min_samples_leaf= 20, random_state=34)
)

model.fit(X_train, y_train)

print('Train Accuracy', model.score(X_train, y_train))
print('Validation Accuracy', model.score(X_val, y_val))

y_pred = model.predict(X_test)

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

Train Accuracy 0.8061868686868687
Validation Accuracy 0.7686868686868686

In [164]:
submission= X_test.copy()

In [165]:
submission['status_group'] = y_pred.copy()

In [166]:
submission['status_group'].value_counts()

functional                 8814
non functional             5123
functional needs repair     421
Name: status_group, dtype: int64

In [168]:
submission.head()

       amount_tsh  gps_height  ...  waterpoint_type_group    status_group
id                             ...
50785         0.0        1996  ...                  other  non functional
51630         0.0        1569  ...     communal standpipe      functional
17168         0.0        1567  ...                  other      functional
45559         0.0         267  ...                  other  non functional
49871       500.0        1260  ...     communal standpipe      functional

[5 rows x 31 columns]

In [169]:
submission.shape

(14358, 31)

**Test 8**

In [167]:
'''Task 8 Testing'''

assert isinstance(submission, pd.DataFrame), '`submission` should be a DataFrame.'
assert len(submission) == 14358, '`submission` should have 14358 rows.'

**Task 9 (`stretch goal`):** Save `submission` as a csv file using [`.to_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html) and submit it to our Kaggle competition.

In [182]:
# YOUR CODE HERE
submission.to_csv('submission.csv', index=False)

#/Users/kevinmanning/Downloads/CleanMyMacX.dmg.download
#/Users/kevinmanning/Downloads/sportsref_download.ods

In [183]:
from IPython.display import FileLink
FileLink(r'submission.csv')

/content/submission.csv

## Explain

**Task 10 (`stretch goal`):** Make a horizontal barchart of the 10 most important features for your model.

In [ ]:
import matplotlib.pyplot as plt

# YOUR CODE HERE
raise NotImplementedError()